.signUpContainer {
    @extend .mainContainer;
    background-color: rgb(64, 144, 224);
    padding: 2% 0;
    height: 90vh;
    .signUpMiddle {
        padding: 2%;
        width: 50%;
        border-radius: 2%;
        background-color: white;
        .signUpForm {
            .signUpLogo {
                @include flex_func(center);
                img{
                    width: 50%;
                }
            }
            .signUpBtn {
                button {
                    float: right;
                }
            }
        }
    }
}
