.form_container {
  background: rgb(47, 109, 170);
  @extend .main_container;
  .form_body {
    @extend .main_body;
    display: flex;
    padding: 20px;
    .form_text {
      width: 50%;
    }
    .form_wrap {
      width: 40%;
      height: 100%;
      form {
        padding: 20px;
        background-color: white;
        border-radius: 2%;
        border: 1px solid transparent;
      }
      button {
        width: 100%;
      }
    }
  }
}
