.header_section {
  background-image: url(https://www.clarifai.com/hubfs/conference/perceive-conference-hero-blue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 80vh;
  width: 100%;
  @include flex_func(center);
  .header_wrap {
    width: $body_container_width;
    @include flex_func(center, flex-start, column);
  }

  #container {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    span {
      margin: 0 20px 0 0;
      word-break: break-all;
    }
    i {
      font-style: normal;
    }
    button {
      width: 100px;
      margin: 8% 5% 0 0;
      font-size: 20px;
    }
  }
}
