.homeContainer {
    @extend .mainContainer;
    @include flex_func();
    .homeSectionTitle {
        margin: $titleMargin 0;
        font-size: $sectionTitle;
    }
    .homeMiddle {
        @extend .mainBody;
        @include flex_func(center, center, column);
        // min-height: 100vh;
        .homeSection {
            // height: 800px;
            width: 100%;
            text-align: center;
            padding: 5rem 0;
            @include flex_func(flex-start, center, column);

            .homeExample {
                width: 100%;
                @include flex_func();
            }
            .homeExampleCard {
                width: 100%;
                padding: 0 5rem;
                @include flex_func(flex-start, center, column);
                h4 {
                    margin: 2rem;
                }
                span {
                    margin: 1rem 0;
                }
            }
        }

        // .homeHermesSection {
        //     width: 100%;
        //     text-align: center;
        //     padding: 5rem 0;
        //     @include flex_func(flex-start, center, column);
        // }
    }

    .homeHeader {
        width: 100%;
        background-color: transparent;
        @include flex_func(center, center);
        .homeMiddle {
            flex-direction: row;
            margin: 15vh 0;
            div {
                width: 100%;
            }
            .homeHeaderText {
                word-break: break-all;
                height: 100%;
                // color: white;
                @include flex_func(center, flex-start, column);
                // p {
                //     font-size: 4vw;
                //     font-weight: bold;
                //     letter-spacing: 5px;
                // }

                .homeHeaderAnimate {
                    font-size: 4vw;
                    width: 70%;
                    word-break: keep-all;
                    color: rgba(0, 0, 0, 0.9);
                    span {
                        display: inline-block;
                        margin-right: 2rem;
                        position: relative;
                        top: 2rem;
                        opacity: 0;
                        animation: 1s swift-up ease-out forwards, 1s fade-in ease-out forwards;
                        overflow: hidden;
                    }
                    span:nth-of-type(1) {
                        animation-delay: 0s;
                    }

                    span:nth-of-type(2) {
                        animation-delay: 0.1s;
                    }

                    span:nth-of-type(3) {
                        animation-delay: 0.2s;
                    }

                    span:nth-of-type(4) {
                        animation-delay: 0.3s;
                    }

                    span:nth-of-type(5) {
                        animation-delay: 0.4s;
                    }

                    span:nth-of-type(6) {
                        animation-delay: 0.5s;
                    }
                    span:nth-of-type(7) {
                        animation-delay: 0.6s;
                    }
                    span:nth-of-type(8) {
                        animation-delay: 0.7s;
                    }
                    p {
                        width: 80%;
                        margin: 2rem 0;
                        font-size: 2rem;
                        line-height: 4vw;
                        position: relative;
                        top: 0.8rem;
                        opacity: 0;
                        font-weight: lighter;
                        overflow: hidden;
                        animation: 0.5s swift-up ease-out forwards, 0.5s fade-in ease-out forwards;
                        animation-delay: 1.1s;
                    }
                }
            }
            .homeHeaderBtn {
                button {
                    margin: 0 1rem 0 0;
                }
            }
        }
    }

    .homeHermesSection {
        @include flex_func(flex-start, center, column);
        width: 100%;
        background-color: rgba(209, 209, 209, 0.404);
        .homeHermes {
            width: 100%;
            .homeHermesBox {
                width: 100%;
                padding: 6rem 0;
                @include flex_func(center, space-around);
                div {
                    width: 50%;
                    margin: 0 2rem;
                }

                .homeHermesBoxText {
                    @include flex_func(center, center, column);
                    span {
                        padding: 2rem 0;
                    }
                }
            }

            .revert {
                flex-direction: row-reverse;
            }
        }
    }
}

.homeCarouselText {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.exampleCarousel {
    height: 40vw;
    position: relative;
    top: 0;
    opacity: .7;
    img {
        -webkit-filter: blur(5px); /* Safari */
        filter: blur(5px);
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@keyframes swift-up {
    to {
        top: 0rem;
    }
}
