.nav_section {
  background: #fff;
  height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  @include flex_func();
  .nav_wrap {
    width: $body_container_width;
    height: 100%;
    div{
      height: 100%;
    }
    @include flex_func();
    #nav_logo {
      width: 10%;
      @include flex_func();
    }
    .nav_list {
      width: 70%;
      @include flex_func();
      ul {
        margin: 0;
        width: 100%;
        height: 100%;
        @include flex_func();
        a{
          width: 100%;
          height: 100%;
          color: black;
          text-decoration: none;
        }
        li {
          @include flex_func();
          width: 100%;
          height: 100%;
          list-style: none;
          transition: .3s;
          font-size: 25px;
          &:hover{
            background-color: rgb(235, 234, 176);
          }
        }
      }
    }
    .nav_login {
      width: 20%;
      @include flex_func();
      button{
        font-size: 20px;
        margin: 0 5px;
      }
    }
  }
}
