.menuContainer {
  background: #fff;
  height: 10vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
  @include flex_func();
  .menuMiddle {
    width: $bodyContainerWidth;
    height: 100%;
    div {
      height: 100%;
    }
    @include flex_func();
    #menuLogo {
      width: 15%;
      @include flex_func();
      img {
        width: 100%;
      }
    }
    .menuList {
      width: 65%;
      @include flex_func();
      ul {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        @include flex_func();
        .dropdown {
          width: 100%;
          @include flex_func();
          .dropdown-toggle {
            &:after {
              display: none;
            }
          }
          .dropdown-menu {
            height: auto;
          }
        }
        a {
          color: black;
          text-decoration: none;
          width: 100%;
        }
        li {
          @include flex_func();
          cursor: pointer;
          color: rgb(0, 0, 0);
          width: 100%;
          list-style: none;
          transition: 0.3s;
          font-size: 1.5rem;
          &:hover {
            background-color: rgb(235, 235, 235);
          }
        }
      }
    }
    .menuLogin {
      width: 20%;
      @include flex_func(space-evenly);
      button {
        font-size: 20px;
      }
      .dropdown {
        width: 70%;
        display: flex;

        .dropdown-menu {
          width: 100%;
          height: auto;
        }
        .dropdown-item {
          &:active {
            background: #fff;
          }
        }
      }
      .userLogo {
        @include flex_func(flex-start);
        width: 100%;
        span {
          padding-left: 10%;
        }
        &::after {
          display: none;
        }
      }
      .userList {
        height: 15vh;
      }
      .userLogout {
        @include flex_func();
      }
    }
  }
}
#nav {
  height: $navHeight;
  background-color: #eeeeeee6;
}
