$mainContainerWidth: 100vw;
$bodyContainerWidth: 60vw;
$menuPadding: 10vh;

// home scss
$titleMargin: 65px;
$sectionTitle: 4vw;

$navHeight: 65px;
$footerHeight: 32px;
$bannerHeight: calc(100vh - #{$navHeight});
$minMainContentHeight: calc(100vh - #{$navHeight} - #{$footerHeight});
