@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
.homeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.homeContainer .homeWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menuContainer {
  background: #fff;
  height: 10vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menuContainer .menuWrap {
  width: 60vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#memberDropdown .menuContainer .menuWrap::after {
  display: none !important;
}

.menuContainer .menuWrap div {
  height: 100%;
}

.menuContainer .menuWrap #menuLogo {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menuContainer .menuWrap #menuLogo img {
  width: 100%;
}

.menuContainer .menuWrap .menuList {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menuContainer .menuWrap .menuList ul {
  margin: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menuContainer .menuWrap .menuList ul a {
  color: black;
  text-decoration: none;
  width: 100%;
}

.menuContainer .menuWrap .menuList ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: black;
  width: 100%;
  list-style: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 25px;
}

.menuContainer .menuWrap .menuList ul li:hover {
  background-color: #ebebeb;
}

.menuContainer .menuWrap .menuLogin {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menuContainer .menuWrap .menuLogin button {
  font-size: 20px;
  margin: 0 5px;
}

.headerContainer {
  background-image: url(https://www.clarifai.com/hubfs/conference/perceive-conference-hero-blue.jpg);
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.headerContainer .headerWrap {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headerContainer #container {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.headerContainer #container span {
  margin: 0 20px 0 0;
  word-break: break-all;
}

.headerContainer #container i {
  font-style: normal;
}

.headerContainer #container button {
  width: 100px;
  margin: 8% 5% 0 0;
  font-size: 20px;
}

.loginContainer {
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 70vh;
}

.loginContainer .loginWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.loginContainer .loginWrap .loginInput {
  background-color: white;
  width: 40%;
  height: 50vh;
  margin-top: 3%;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 2%;
}

.loginContainer .loginWrap .loginInput h3 {
  text-align: center;
  color: #4173a5;
}

.loginContainer .loginWrap .loginInput .loginLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.loginContainer .loginWrap .loginInput .loginBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.signUpContainer {
  background-color: #4090e0;
  padding: 2% 0;
}

.signUpContainer .signUpWrap {
  padding: 2%;
  width: 30vw;
  border: 1px solid transparent;
  border-radius: 2%;
  background-color: white;
}

.signUpContainer .signUpWrap .signUpLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.signUpContainer .signUpWrap .signUpBtn button {
  float: right;
}

.cardWrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: -100px;
}

.cardWrap .card {
  width: 25%;
  height: 350px;
  margin: 4%;
  -webkit-box-shadow: 0 5px 10px 0 #ccc;
          box-shadow: 0 5px 10px 0 #ccc;
  background-color: transparent;
}

.cardWrap .card .cardImage {
  width: 100%;
  height: 50%;
  border-radius: 3%;
}

.cardWrap .card .cardText {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cardWrap .card .cardText span {
  color: #7a7a7a;
}

.cardWrap .card .cardLink {
  width: 100%;
  padding: 10px 20px;
}

.cardWrap .card .cardLink a {
  text-decoration: none;
}

.formContainer {
  background: #4090e0;
  height: calc(90vh);
}

.formContainer .formBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 0;
}

.formContainer .formBody .formText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-right: 10%;
  color: white;
}

.formContainer .formBody .formText p {
  margin: 5% 0;
}

.formContainer .formBody .formWrap {
  width: 40%;
  height: 100%;
}

.formContainer .formBody .formWrap form {
  padding: 5%;
  background-color: white;
  border-radius: 2%;
  border: 1px solid transparent;
}

.formContainer .formBody .formWrap .custom-checkbox {
  margin: 0;
  width: 50%;
}

.formContainer .formBody .formWrap button {
  width: 100%;
}

.WebMap_section .WebMap_body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 5vw 0;
}

.WebMap_section .WebMap_body ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% / 6);
  list-style: none;
}

.WebMap_section .WebMap_body ul li img {
  width: 20%;
}

.WebMap_section .WebMap_body ul li h3 {
  margin: 0;
}

.WebMap_section .WebMap_body ul li a {
  margin: 2vh 0;
  color: #ccc;
  text-decoration: none;
}

footer {
  text-align: center;
  border-top: 1px solid pink;
}

body {
  margin: 0;
  padding: 10vh 0 0 0;
  position: absolute;
  font-family: "Noto Sans TC", sans-serif;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
}

.mainContainer, .homeContainer, .loginContainer, .signUpContainer, .formContainer, .WebMap_section {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainContainer .mainBody, .homeContainer .mainBody, .loginContainer .mainBody, .signUpContainer .mainBody, .formContainer .mainBody, .WebMap_section .mainBody, .homeContainer .homeWrap, .loginContainer .loginWrap, .formContainer .formBody, .WebMap_section .WebMap_body {
  width: 60vw;
}
/*# sourceMappingURL=Main.css.map */