@import "./sass/variable";
@import "./sass/function";
@import "./sass/home";
@import "./sass/menu";
@import "./sass/header";
@import "./sass/page/TrainModel";
@import "./sass/page/Login";
@import "./sass/card";
@import "./sass/contract";
@import "./sass/.webMap";

body {
  margin: 0;
  padding: $menu_padding 0 0 0;
  position: absolute;
  outline: 0;
}

.main_container {
  width: $main_container_width;
  @include flex_func(center, center, column);
  .main_body {
    width: $body_container_width;
  }
}
